<html>
  <head>
    <title>Flask + Celery Examples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        .progress {
            /*width: 100%;*/
            height: 90px;
            text-align: center;
        }
        .container {
            max-width: 730px;
        }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>Flask + Celery + Spark + Elasticsearch</h1>
    <h2>Run Spark Job Asynchronously on Titantic Index</h2>
    <!--<button onclick="start_long_task();">Start Long Calculation</button><br><br>-->
    <button class="btn btn-large" id="start-bg-job">Start Spark Job</button><br><br>
    <div id="progress"></div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        function start_long_task() {
            // add task status elements
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);

            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/sparktask',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                        var link = 'http://localhost:9200/' + data['result'] + '/_search?sort=count:desc&pretty'
                        $(status_div).append('<a target="_blank" href="' + link + '">' + link + '</a>')
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['status']);
                    }
                }
                else {
                    // rerun in one second
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 1000);
                }
            });
        }
        $(function() {
            $('#start-bg-job').click(start_long_task);
        });
    </script>
  </body>
</html>
